.ant-btn-link:hover {
  border: none; /* Remove border on hover */
}
#card-body {
  display: flex;
}
.ant-card-body {
  height: 8pc;
}
.light-text {
  width: 10rem;
  color: black;
}

.dark-text {
  width: 10rem;
  color: black;
}
.edit {
  width: 10%;
  position: absolute;
  margin-left: 12pc;
  margin-top: -2.7pc;
  cursor: pointer;
}

.delete {
  margin-left: -164px;
  /* position: absolute; */
  margin-top: -2.7pc;
  cursor: pointer;
  width: 10%;
  position: absolute;
  margin-left: 16pc;
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-card-small > .ant-card-head {
  min-height: 3pc;
  padding: 0 12px;
  font-size: 14px;
}
.ant-modal-footer {
  display: none;
}
.edit-btn {
  height: 2.3pc;
  font-size: 16px;
  width: 4pc;
}
.card-cancel {
  height: 2.3pc;
  margin-left: 8pc;
  margin-top: -2.2pc;
}
.page {
  margin: 1pc;
  display: flex;
  justify-content: center;
}
.edit-loading {
  margin-left: -7px;
  height: 2.3pc;
}
.dark {
  background-color: #1e1e1e; /* Dark background color */
  color: #ffffff; /* Light text color */
}
.title-dark {
  background-color: #1e1e1e; /* Dark background color */
  color: #ffffff; /* Light text color */
}
.title-light {
  color: #0a0a0ae4;
  border-color: #ffffff;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-space-align-center {
  align-items: center;
  margin-left: 19px;
}
.page-light {
  margin: 1pc;
  /* Add light theme pagination styles here */
}

/* Dark theme styles */
.page-dark .page {
  margin: 1pc !important;
  background-color: #1e1e1e; /* Dark background color */
  color: #ffffff; /* Light text color */
}
/* .page-dark .page  :where(.css-dev-only-do-not-override-1xg9z9n).ant-pagination .ant-pagination-item a {
      display: block;
      padding: 0 6px;
      color: white;
  }  */

.page-dark .ant-pagination-item a {
  color: white;
  background-color: #ae9595;
}

.page-dark .ant-pagination-item-link {
  color: rgb(9, 8, 8);
  background-color: #ae9595 !important;
}
.dark .ant-card-small {
  border-color: #ffffff;
}
.ant-card.dark {
  border-color: #d8b8b8 !important;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-pagination {
  box-sizing: border-box;
  margin: 51px;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.modaldark .ant-modal-content,
.modaldark .ant-modal-header,
.modaldark .ant-modal-title,
.modaldark .ant-form-item-required,
.modaldark .ant-form-item-label > label {
  background-color: #1e1e1e;
  color: #ffffff !important;
}
