#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.css */

/* App.css */

.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.todo-content {
  width: 70%;
}

.todo-sidebar {
  width: 30%;
  padding: 20px;
}

.todo-header {
  text-align: center;
  margin-bottom: 20px;
}

.todo-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.todo-card-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.todo-card-body {
  padding: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-item-title {
  flex-grow: 1;
}

.todo-item-buttons button {
  margin-left: 5px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.page-btn {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;
}

.page-btn.active {
  background-color: #007bff;
  color: #fff;
}
.pagination > li {
  list-style: none;
  border: 0.3px solid;
}
.pagination > li > a,
.pagination > li > span {
  float: left;
  padding: 8px 20px;
  line-height: 1.5;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > li.active > a {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
.pagination > li > a:hover {
  background-color: #218838;
  color: white;
  cursor: pointer;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}